In [4]:
from bs4 import BeautifulSoup
import requests

In [5]:
url = 'https://coinmarketcap.com/'
request = requests.get(url)

In [ ]:
soup = BeautifulSoup(request.content, 'html.parser') # urlib
soup

In [ ]:
table = soup.find('table',class_='cmc-table')
print(table)

In [ ]:
rows = table.find_all('tr')
rows

In [16]:
# all_tds = ['', 'rank', 'name','price' .....]
for row in rows[1:11]:
    table_data = row.find_all('td')
    # print(table_data)
    rank  = table_data[1].text
    name = table_data[2].text
    price = table_data[3].text
    hour_change = table_data[4].text
    day_change = table_data[5].text
    seven_days_change = table_data[6].text
    market_cap = table_data[7].text
    volume = table_data[8].text
    print(rank,name,price,hour_change,day_change,seven_days_change,market_cap,volume)
    # break

1 BitcoinBTC $95,590.55 0.21% 0.83% 1.59% $1.9T$1,897,432,591,026 $15,593,805,367163.21K BTC
2 EthereumETH $1,828.77 0.06% 0.29% 1.57% $220.72B$220,715,353,770 $9,052,055,8284.95M ETH
3 TetherUSDT $1.00 0.01% 0.02% 0.04% $149.38B$149,379,861,972 $37,868,914,57237.86B USDT
4 XRPXRP $2.18 0.28% 0.72% 1.49% $128.06B$128,059,185,916 $1,540,876,207703.94M XRP
5 BNBBNB $590.67 0.00% 1.25% 1.76% $83.17B$83,172,828,274 $1,266,178,9372.14M BNB
6 SolanaSOL $146.12 0.52% 1.57% 2.21% $75.7B$75,701,059,209 $1,544,102,99610.56M SOL
7 USDCUSDC $0.9999 0.01% 0.00% 0.01% $61.51B$61,506,653,060 $5,341,693,0765.34B USDC
8 DogecoinDOGE $0.1738 0.40% 2.65% 4.73% $25.93B$25,931,257,672 $561,578,9403.22B DOGE
9 CardanoADA $0.6895 0.46% 3.40% 1.58% $24.34B$24,342,643,050 $922,307,2561.33B ADA
10 TRONTRX $0.2481 0.40% 0.04% 0.25% $23.55B$23,553,214,393 $405,807,3761.63B TRX