### Recap
- countries
- populations

In [ ]:
pop = [45.55,55.22,10.33,68.88,71.55,96.22]
country = ['Pak','Afg','India','china','Iraq','japan']

In [3]:
country.index('china')
print(pop[3])

68.88

This way of extracting values is not adaptable because:
- Not convenient
- Not intutive

Solution is **Dictionaries**

## Dictionaries
- Accept different type
- Keys have to be "immutable" objects ->> Error
- add values
- edit value
- **in** Keyword
- delete any element

## List vs Dictionaries

## Introudction to Pandas
- ##### Question: How can we store that data in python ? 
- Numpy Array (absolutely **NO** because in Numpy we save data of same type)

### Answer:  Pandas 
- high level  data manipulation
- Wes Mckinney
- built on Numpy
- Data Frame
- special concept of Series

## Case Study: population dataset of BRICS countries
- NOTE:
   - key (columns, label)
   - values(data, column by column)

### CREATING DATAFRAME

In [7]:
bricks = {"country": ['Brazil', 'Russia', 'India', 'China', 'South Africa'],
         "capital": ['Brasilia', 'Moscow', 'New Delhi', 'Beijing', 'Pretoria'],
         "area": [8.516, 17.100, 3.286, 9.597, 1.221],
         "population": [200.40, 143.50, 1252.00, 1357.00, 52.98]}
bricks

{'country': ['Brazil', 'Russia', 'India', 'China', 'South Africa'],
 'capital': ['Brasilia', 'Moscow', 'New Delhi', 'Beijing', 'Pretoria'],
 'area': [8.516, 17.1, 3.286, 9.597, 1.221],
 'population': [200.4, 143.5, 1252.0, 1357.0, 52.98]}

In [9]:
import pandas as pd

In [10]:
df = pd.DataFrame(bricks)
df

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Delhi   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

In [ ]:
df.set_index('country',inplace=True) # inplace changes in orignial 
df

                capital    area  population
country
Brazil         Brasilia   8.516      200.40
Russia           Moscow  17.100      143.50
India         New Delhi   3.286     1252.00
China           Beijing   9.597     1357.00
South Africa   Pretoria   1.221       52.98

#### another way to create DATAFRAME is through csv (comma seperated files)

In [21]:
df = pd.read_csv('./dataset/bricks.csv', index_col = 0)
df

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [40]:
df = pd.read_csv('./dataset/bricks.csv', index_col = 0)
df

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

assume we have **'bricks.csv'** file in our directory

In [26]:
type(df) # two dimensional

pandas.core.frame.DataFrame

In [27]:
type(df.country) # One dimensional

pandas.core.series.Series

Column Slicing

In [28]:
df.area

0     8.516
1    17.100
2     3.286
3     9.597
4     1.221
Name: area, dtype: float64

In [29]:
df.country

0          Brazil
1          Russia
2           India
3           China
4    South Africa
Name: country, dtype: object

In [31]:
df['country']

0          Brazil
1          Russia
2           India
3           China
4    South Africa
Name: country, dtype: object

In [30]:
bricks = {"country name": ['Brazil', 'Russia', 'India', 'China', 'South Africa'],
         "capital": ['Brasilia', 'Moscow', 'New Delhi', 'Beijing', 'Pretoria'],
         "area": [8.516, 17.100, 3.286, 9.597, 1.221],
         "population": [200.40, 143.50, 1252.00, 1357.00, 52.98]}
bricks

{'country name': ['Brazil', 'Russia', 'India', 'China', 'South Africa'],
 'capital': ['Brasilia', 'Moscow', 'New Delhi', 'Beijing', 'Pretoria'],
 'area': [8.516, 17.1, 3.286, 9.597, 1.221],
 'population': [200.4, 143.5, 1252.0, 1357.0, 52.98]}

In [33]:
bricks['country name']

['Brazil', 'Russia', 'India', 'China', 'South Africa']

In [36]:
# Multpile Columns Selection
df[['country','area','capital']]

        country    area    capital
0        Brazil   8.516   Brasilia
1        Russia  17.100     Moscow
2         India   3.286  New Delhi
3         China   9.597    Beijing
4  South Africa   1.221   Pretoria

Row Slicing (loc and iloc)

In [43]:
df

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [44]:
df.loc['BR']

country         Brazil
capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object

In [42]:
df.loc[['BR','RU']]

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscow  17.100       143.5

In [ ]:
df.loc[0] # Error

In [45]:
df.iloc[0]

country         Brazil
capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object

In [47]:
df.iloc[[0,1,2]]

   country    capital    area  population
BR  Brazil   Brasilia   8.516       200.4
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0

In [48]:
df.iloc[:3]

   country    capital    area  population
BR  Brazil   Brasilia   8.516       200.4
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0

In [ ]:
df.iloc[1:3, :2]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0

In [52]:
df.iloc[1:3, 2:4]

      area  population
RU  17.100       143.5
IN   3.286      1252.0

In [55]:
df.loc[['BR','RU'],['country','capital']]

   country   capital
BR  Brazil  Brasilia
RU  Russia    Moscow

### index and select data
- square brakets (type--> series) & double squrae brakets (type --> DataFrame)
- advance methods
    - loc
    - iloc